@import "tailwindcss";

@import "fumadocs-ui/css/preset.css";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/animations.css";
@import "fumadocs-twoslash/twoslash.css";
@source './node_modules/fumadocs-ui/dist/**/*.js';

@theme {
	--color-fd-background: hsl(0, 0%, 100%);
	--color-fd-foreground: hsl(20, 14.3%, 4.1%);
	--color-fd-card: hsl(0, 0%, 100%);
	--color-fd-card-foreground: hsl(20, 14.3%, 4.1%);
	--color-fd-popover: hsl(0, 0%, 100%);
	--color-fd-popover-foreground: hsl(20, 14.3%, 4.1%);
	--color-fd-primary: hsl(24.6, 95%, 53.1%);
	--color-fd-primary-foreground: hsl(60, 9.1%, 97.8%);
	--color-fd-secondary: hsl(60, 4.8%, 95.9%);
	--color-fd-secondary-foreground: hsl(24, 9.8%, 10%);
	--color-fd-muted: hsl(60, 4.8%, 95.9%);
	--color-fd-muted-foreground: hsl(25, 5.3%, 44.7%);
	--color-fd-accent: hsl(60, 4.8%, 95.9%);
	--color-fd-accent-foreground: hsl(24, 9.8%, 10%);
	--color-fd-border: hsl(20, 5.9%, 90%);
	--color-fd-input: hsl(20, 5.9%, 90%);
	--color-fd-ring: hsl(24.6, 95%, 53.1%);
	--color-fd-destructive: hsl(0, 84.2%, 60.2%);
	--color-fd-destructive-foreground: hsl(60, 9.1%, 97.8%);
}

.dark {
	/*--fd-background: 20 14.3% 4.1%; */
	--color-fd-background: hsl(0 0% 8.04%);
	--color-fd-foreground: hsl(251 5% 90%);
	--color-fd-card: hsl(251 50% 0%);
	--color-fd-card-foreground: hsl(251 5% 90%);
	--color-fd-popover: hsl(251 50% 5%);
	--color-fd-popover-foreground: hsl(251 5% 90%);
	--color-fd-primary: hsl(250 100% 80%);
	--color-fd-primary-foreground: hsl(0 0% 0%);
	--color-fd-secondary: hsl(251 30% 10%);
	--color-fd-secondary-foreground: hsl(0 0% 100%);
	--color-fd-muted: hsl(213 30% 15%);
	--color-fd-muted-foreground: hsl(251 5% 60%);
	--color-fd-accent: hsl(213 30% 15%);
	--color-fd-accent-foreground: hsl(60 9.1% 97.8%);
	--color-fd-border: hsl(213 30% 18%);
	--color-fd-input: hsl(213 30% 18%);
	--color-fd-ring: hsl(251 67.7% 93.9%);
	--color-fd-destructive: hsl(0 100% 30%);
	--color-fd-destructive-foreground: hsl(251 5% 90%);
}

@theme {
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	--animate-ripple: ripple var(--duration, 2s) ease calc(var(--i, 0) * 0.2s) infinite;
	/* --animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out; */

	@keyframes ripple {
		0%,
		100% {
			transform: scale(1);
		}
		50% {
			transform: scale(0.9);
		}
	}
	/*
	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	} */
}

/* -------------1-----*/
/* General CSS Reset */
/*-------------------*/
@layer base {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html {
		scroll-behavior: smooth;
		-webkit-tap-highlight-color: transparent;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	html {
		height: 100%;
	}

	body {
		display: flex;
		flex-direction: column;
		min-height: 100%;
	}

	input:focus-visible {
		outline: 2px solid transparent;
		outline-offset: 2px;
	}

	/* img {
      width: 100%;
      max-inline-size: 100%;
      max-width: unset;
   } */

	button {
		cursor: pointer;
		outline: transparent;
	}

	body {
		line-height: 1.5;
	}
}
