@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 20 14.3% 4.1%;
		--card: 0 0% 100%;
		--card-foreground: 20 14.3% 4.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 20 14.3% 4.1%;
		--primary: 24.6 95% 53.1%;
		--primary-foreground: 60 9.1% 97.8%;
		--secondary: 60 4.8% 95.9%;
		--secondary-foreground: 24 9.8% 10%;
		--muted: 60 4.8% 95.9%;
		--muted-foreground: 25 5.3% 44.7%;
		--accent: 60 4.8% 95.9%;
		--accent-foreground: 24 9.8% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 60 9.1% 97.8%;
		--border: 20 5.9% 90%;
		--input: 20 5.9% 90%;
		--ring: 24.6 95% 53.1%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 20 14.3% 4.1%;
		--foreground: 251 5% 90%;
		--card: 251 50% 0%;
		--card-foreground: 251 5% 90%;
		--popover: 251 50% 5%;
		--popover-foreground: 251 5% 90%;
		--primary: 250 100% 80%;
		--primary-foreground: 0 0% 0%;
		--secondary: 251 30% 10%;
		--secondary-foreground: 0 0% 100%;
		--muted: 213 30% 15%;
		--muted-foreground: 251 5% 60%;
		--accent: 213 30% 15%;
		--accent-foreground: 251 5% 90%;
		--destructive: 0 100% 30%;
		--destructive-foreground: 251 5% 90%;
		--border: 251 30% 18%;
		--input: 251 30% 18%;
		--ring: 251 67.7% 93.9%;
		--radius: 0.5rem;
	}
}
