@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.dark {
		/* --background: 251 50% 5%; */
		--foreground: 251 5% 90%;
		--card: 251 50% 0%;
		--card-foreground: 251 5% 90%;
		--popover: 251 50% 5%;
		--popover-foreground: 251 5% 90%;
		--primary: 250 100% 80%;
		--primary-foreground: 0 0% 0%;
		--secondary: 251 30% 10%;
		--secondary-foreground: 0 0% 100%;
		--muted: 213 30% 15%;
		--muted-foreground: 251 5% 60%;
		--accent: 213 30% 15%;
		--accent-foreground: 251 5% 90%;
		--destructive: 0 100% 30%;
		--destructive-foreground: 251 5% 90%;
		--border: 251 30% 18%;
		--input: 251 30% 18%;
		--ring: 251 67.7% 93.9%;
		--radius: 0.5rem;
	}
}
