name: Lint and Type

on:
   pull_request:
   push:
      branches: main

permissions:
   contents: read

jobs:
   lint-and-type:
      runs-on: ubuntu-latest
      strategy:
         matrix:
            node-version: [lts/*]
      steps:
         - name: Checkout code
           uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

         - name: Setup pnpm
           uses: pnpm/action-setup@v4
           with:
              version: 9.12.0

         - name: Setup Node.js
           uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4
           with:
              node-version: ${{ matrix.node-version }}
              cache: "pnpm"

         - name: Install dependencies and run tests
           run: |
              pnpm install --frozen-lockfile
              pnpm lint:check-types
              pnpm lint:eslint
