name: CI

on:
   push:
      branches:
         - "**"
   pull_request:
      branches:
         - main

jobs:
   build:
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@v3
         - uses: pnpm/action-setup@v2
           with:
              version: 9
         - uses: actions/setup-node@v3
           with:
              node-version: 16.x
              cache: "pnpm"

         - run: pnpm install --frozen-lockfile
         - run: pnpm check-types -p tsconfig.json
         - run: pnpm lint
         - run: pnpm build
