name: Size Limit

on:
   pull_request:
   push:
      branches: main

permissions:
   contents: read

jobs:
   size-limit:
      runs-on: ubuntu-latest
      strategy:
         matrix:
            node-version: [lts/*]
      steps:
         - name: Checkout code
           uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4

         - name: Setup pnpm
           uses: pnpm/action-setup@v4
           with:
              version: 9.15.0

         - name: Setup Node.js
           uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4
           with:
              node-version: ${{ matrix.node-version }}
              cache: pnpm

         - name: Install dependencies and run size limit check
           run: |
              pnpm install --frozen-lockfile
              pnpm lint:size
